.roadmap-grid-container {
  display: grid;
  grid-template-rows: auto auto;
}

.header {
  margin: 0.5% 0;

}

.flex-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.roadmap-boxes {
  border: 5px solid;
  border-radius: 10px;
  margin: 0 1% 1% 1%;
  min-width: 250px;
  max-height: 300px;
  overflow: auto;
  flex-basis: 30%;
}

.coming {
  grid-area: coming;
  background-color: rgb(34, 34, 103);
}

.working {
  grid-area: working;
  background-color: rgb(110, 110, 21);
}

.done {
  grid-area: done;
  background-color: rgb(16, 50, 16);
}

.tasks-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.inner {
  flex-basis: 49%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.task {
  margin: 0;
  width: fit-content;
}

.task:hover {
  color: grey;
}

.task:hover ~ .onhover {
  visibility: visible;
}

.onhover {
  visibility: hidden;
  font-size: 10px;
  margin: 5% 5%;
}

