#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;

}

.grid-container {
    display: grid;
    grid-template-rows: 10% auto 10%;
    height: 97vh;
}

.findMe {
  align-self: flex-start;
  order: 0;
}

.linkedIn {
  order: -1;
  color: lightblue;
  position: relative;
  right: 50px;
  bottom: 15px;
}

.github {
  order: 1;
  color: lightcoral;
  position: relative;
  left: 50px;
  bottom: 15px;
}

.item1 {
  grid-row: 1;
}

.item3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.item4 {
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info {
  position: relative;
  left: 50px;
}

.header {
  color: white;
}

.navigation {
  border: 1px solid white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.navButton {
  padding: 2px 5px;
    border-radius: 10px;
    margin: 2px 10px;
}

.pending {
  background-color: black;
  border: 1px dotted yellow;
}

.active {
  background-color: grey;
  color: white;
}

.passive {
  background-color: white;
  color: black;
}

.weather-table {
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0% 5%;
}

.date-buttons {
  margin: 10px 5px;
  border: 3px solid;
  border-radius: 7px;
  background-color: white;
  color: black;
}

.active-button {
  border-color: lightgreen;
}

.passive-button {
  border-color: grey;
}
